body {
    background-color: #3b3b80;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-container {
    width: 375px; /* iPhone 11 width */
    height: 812px; /* iPhone 11 height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(38, 43, 88);
    padding: 20px;
    box-shadow: 0px 0px 10px 0px black;
}

.login-container input[type="text"], .login-container input[type="password"] {
    width: 150%; 
    padding: 15px;
    display: block;
    position: relative; 
    left: 50%; 
    transform: translateX(-50%); 
    margin-bottom: 5px; 
}

.login-container input[type="submit"] {
    width: 100%; 
    padding: 10px;
    background-color: #4CAF50; 
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    margin-top: 10px; 
    display: inline-block;
    position: relative; 
    left: 50%; 
    transform: translateX(-50%); 
    border: 2px solid #000; 
    font-size: 16px;

}

.login-container input[type="submit"]:hover {
    background-color: #45a049; 
}

.login-container input[type="submit"]:active {
    background-color: #3e8e41; 
}

.login-failed {
    color: red;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}







.qr-code {
    width: 200px;
    height: 200px; 
    object-fit: contain; /* To maintain aspect ratio */
}


.parent-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; 
    height: 100vh; 
}



.ticket_container {
    overflow: auto; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 375px; /* iPhone 11 width */
    height: 812px; /* iPhone 11 height */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(38, 43, 88);
    padding: 20px;
    box-shadow: 0px 0px 10px 0px black;
}

.ticket_container .ticket:first-child {
    flex: 0 0 auto; /* This will prevent the first ticket from shrinking and growing */
}

.ticket {
    background-color: lightgray;
    border: 5px solid darkgray;
    padding: 220px 70px;
    margin-bottom: 20px;
    position: relative; 
    margin-left: 10px; 
    margin-right: 10px; 
    margin-bottom: 0; 
    flex-shrink: 0; 
}

.ticket-city {
    position: absolute; 
    top: 5px; 
    left: 20px; 
    font-size: 18px;
    font-family: sans-serif; 
}

.ticket-type {
    font-weight: bold;
    position: absolute; 
    top: 5px; 
    left: 20px; 
    margin-top: 50px; 
    font-size: 24px;
    font-family: sans-serif; 
}

.not-valid {
    background-color: orange;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 75px; 
    font-family: sans-serif; 
}

[id^="countdown-"] {
    position: absolute;
    color: white;
    top: 105px; 
    left: 0;
    right: 0;
    text-align: center;
    font-family: sans-serif; 
}



button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid #000; 
}

button:hover {
    background-color: #45a049; 
}

button:active {
    background-color: #3e8e41; 
}

.validate-ticket {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 150px; 
    position: absolute;
    left: 0;
    right: 0;
    bottom: 75px;
    margin: auto; 
}

.button-container {
    position: relative;
    top: 365px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
    font-size: 14px;
    padding: 5px 0; 
}


.buy_container {
    overflow: auto; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 375px; /* iPhone 11 width */
    height: 812px; /* iPhone 11 height */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(38, 43, 88);
    padding: 20px;
    box-shadow: 0px 0px 10px 0px black;
}

.buy_content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 30%; 
    gap: 50px; 
}

.buy_content > *:not(:first-child) {
    margin-bottom: 50px;
}

.buy_container select {
    font-size: 25px; 
    width: 200px; 
    height: 70px;
}

#price {
    font-size: 25px;
    font-weight: bold;
    color: white;
    font-family: sans-serif; 
}



#docContent {
    text-align: left;
}

#docContent ol, #docContent ul {
    padding-left: 20px;
}